html {
  scroll-behavior: smooth;
}

h2, h3, h4, .nav-item, #transition, footer {
  text-align: centre;
}
.footer-down {
 margin-top: 250px;
}

.card {
  max-width: 25rem;

}

.darker {
  background-color: rgba(0, 0, 0, 0.2);
}